@model Auditoria.ViewModels.Tabla1ViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@Html.DropDownListFor(m => m.Reg, Model.Regs)
@Html.DropDownListFor(m=>m.Prov,Model.Provs)*@

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-1">
            <h5>NCuest</h5>
        </div>
        <div class="col-sm-1">
            @Html.TextBoxFor(m => m.ncuest, new { style = "width:60px", tabindex = "1", id = "ncuest", onkeydown = "return tab(this, event)" })
        </div>
        <div class="col-sm-1">
            <h5>Región</h5>
        </div>
        <div class="col-sm-1">
            @Html.TextBoxFor(m => m.Reg, new { style = "width:30px", tabindex = "2", id = "reg", oninput = "validarRegion('reg','prov')", onkeydown = "return tab(this, event)" })
        </div>
        <div class="col-sm-1">
            <h5>Provincia</h5>
        </div>
        <div class="col-sm-1">
            @Html.TextBoxFor(m => m.Prov, new { style = "width:30px", tabindex = "3", id = "prov", oninput = "validarProvincia('reg','prov','trim')", onkeydown = "return tab(this, event)" })
        </div>
        <div class="col-sm-1">
            <h5>Trimestre:</h5>
        </div>
                <div class="col-sm-1">
                    @Html.TextBoxFor(m => m.Trimestre, new { style = "width:30px", id = "trim", tabindex = "4", onkeydown = "return tab(this, event)" })
                </div>
        <div class="col-sm-1">
            <h5>Año:</h5>
        </div>
                <div class="col-sm-1">
                    @Html.TextBoxFor(m => m.Año, new { style = "width:60px", id = "año", tabindex = "5", onkeydown = "return tab(this, event)" })
                </div>
        <div class="col-sm-1">
            <h5>Persona entrevistada:</h5>
        </div>
        <div class="col-sm-1">
            @Html.TextBoxFor(m => m.Entrevistada, new { style = "width:90px", id = "entrev", tabindex = "6", onkeydown = "return tab(this, event)" })
        </div>
       
        </div>

        <div class="row">
            <div class="col-sm-1">
                <h5>Persona responsable:</h5>
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.Responsable, new { style = "width:90px", id = "resp", tabindex = "7", onkeydown = "return tab(this, event)" })
            </div>
            <div class="col-sm-1">
                <h5>P1:</h5>
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.P1, new { style = "width:30px", id = "p1", tabindex = "8", onkeydown = "return tab(this, event)" })
            </div>
            <div class="col-sm-1">
                <h5>P2:</h5>
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.P2, new { style = "width:30px", id = "p2", tabindex = "9", onkeydown = "return tab(this, event)" })
            </div>
            <div class="col-sm-1">
                <h5>P3a:</h5>
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.P3a, new { style = "width:30px", id = "p3a", tabindex = "10", onkeydown = "return tab(this, event)" })
            </div>
            <div class="col-sm-1">
                <h5>P3b:</h5>
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.P3b, new { style = "width:30px", id = "p3b", tabindex = "11", onkeydown = "return tab(this, event)" })
            </div>
            <div class="col-sm-1">
                <h5>P4:</h5>
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.P4, new { style = "width:30px", id = "p4", tabindex = "12", onkeydown = "return tab(this, event)" })
            </div>
            
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <h5>P5:</h5>
                </div>
                <div class="col-sm-1">
                    @Html.TextAreaFor(m => m.P5, new { style = "width:90px", id = "p5", tabindex = "13", onkeydown = "return tab(this, event)" })
                </div>
                <div class="col-sm-1">
                    <h5>P6:</h5>
                </div>
                <div class="col-sm-1">
                    @Html.TextAreaFor(m => m.P6, new { style = "width:90px", id = "p6", tabindex = "14", onkeydown = "return tab(this, event)" })
                </div>
                <div class="col-sm-1">
                    <h5>P7:</h5>
                </div>
                <div class="col-sm-1">
                    @Html.TextBoxFor(m => m.P7, new { style = "width:30px", id = "p7", tabindex = "15", onkeydown = "return tab(this, event)" })
                </div>
                <div class="col-sm-1">
                    <h5>P8:</h5>
                </div>
                <div class="col-sm-1">
                    @Html.TextAreaFor(m => m.P8, new { style = "width:90px", id = "p8", tabindex = "16", onkeydown = "return tab(this, event)" })
                </div>
                <div class="col-sm-1">
                    <h5>P9:</h5>
                </div>
                <div class="col-sm-1">
                    @Html.TextAreaFor(m => m.P9, new { style = "width:90px", id = "p9", tabindex = "17", onkeydown = "return tab(this, event)" })
                </div>
                <div class="col-sm-1">
                    <h5>P10:</h5>
                </div>
                <div class="col-sm-1">
                    @Html.TextBoxFor(m => m.P10, new { style = "width:30px", id = "p10", tabindex = "18", onkeydown = "return tab(this, event)" })
                </div>
                
            </div>
    <br />
                <div class="row">
                    <div class="col-sm-1">
                        <h5>P11:</h5>
                    </div>
                    <div class="col-sm-1">
                        @Html.TextAreaFor(m => m.P11, new { style = "width:90px", id = "p11", tabindex = "19", onkeydown = "return tab(this, event)" })
                    </div>
                    <div class="col-sm-1">
                        <h5>P12a:</h5>
                    </div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(m => m.P12a, new { style = "width:30px", id = "p12a", tabindex = "20", onkeydown = "return tab(this, event)" })
                    </div>
                    <div class="col-sm-1">
                        <h5>P12b:</h5>
                    </div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(m => m.P12b, new { style = "width:90px", id = "p12b", tabindex = "21", onkeydown = "return tab(this, event)" })
                    </div>
                    <div class="col-sm-1">
                        <h5>P13:</h5>
                    </div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(m => m.P13, new { style = "width:30px", id = "p13", tabindex = "22", onkeydown = "return tab(this, event)" })
                    </div>
                    <div class="col-sm-1">
                        <h5>P14:</h5>
                    </div>
                    <div class="col-sm-1">
                        @Html.TextAreaFor(m => m.P14, new { style = "width:90px", id = "p14", tabindex = "23", onkeydown = "return tab(this, event)" })
                    </div>
                    <div class="col-sm-1">
                        <h5>Digitador/a:</h5>
                    </div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(m => m.Digitador, new { style = "width:30px", id = "dig", tabindex = "24", onkeydown = "return tab(this, event)" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-1">
                        <h5>Entrevista:</h5>
                    </div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(m => m.Entrevista, new { style = "width:30px", id = "dig", tabindex = "25", onkeydown = "return tab(this, event)" })
                    </div>
                </div>






                    <input tabindex="25" , type="submit" value="Enviar" />
                    }

                    <script src="~/Validacion.js"></script>
